@model IEnumerable<RandomNumbersSolution.Models.Match>
@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">

        <h2>Matches</h2>
        <p>The blue color of row means that the match was ended, green - continue.</p>
        <table class="table">
            <tr>
                <th>
                    <p>@Html.DisplayNameFor(model => model.Items)</p>
                </th>
                <th>
                    <p>@Html.DisplayNameFor(model => model.Expired)</p>
                </th>
                <th>
                    <p>@Html.DisplayNameFor(model => model.WinUserName)</p>
                </th>
            </tr>

            @foreach (var item in Model)
            {
               
            <tr>
                <td>
                    @foreach (var matchItem in item.Items)
                    {
                    <div>
                        <p>User: @Html.DisplayFor(modelItem => matchItem.UserName)</p>
                        @if (item.Expired < DateTime.Now)
                        {
                            <p>Number: @Html.DisplayFor(modelItem => matchItem.Number)</p>
                        }
                    </div>

                    }
                </td>
                <td>
                    <p class="@(item.Expired < DateTime.Now ? "text-primary" : "text-success" )">@Html.DisplayFor(modelItem => item.Expired)</p>
                </td>
                <th>
                    <p>@Html.DisplayFor(model => item.WinUserName)</p>
                </th>
            </tr>
        }

        </table>
    </div>
