@model IEnumerable<RandomNumbersSolution.Models.Match>
@{
    ViewBag.Title = "Game Page";
}

    <div class="jumbotron">
        <h1>Matches</h1>
        <table class="table">
            <tr>
                <th>
                    <p>@Html.DisplayNameFor(model => model.Items)</p>
                </th>
                <th>
                    <p>@Html.DisplayNameFor(model => model.Expired)</p>
                </th>
                <th>
                    <p>@Html.DisplayNameFor(model => model.WinUserName)</p>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Id)
                <tr>
                    <td>
                        @foreach (var matchItem in item.Items)
                        {
                            <div>
                                <p>User: @Html.DisplayFor(modelItem => matchItem.UserName)</p>
                                @if (item.Expired < DateTime.Now)
                                {
                                    <p>Number: @Html.DisplayFor(modelItem => matchItem.Number)</p>
                                }
                            </div>
                        }
                    </td>
                    <td>
                        <p>@Html.DisplayFor(modelItem => item.Expired)</p>
                    </td>
                    <th>
                        @if (item.Expired < DateTime.Now)
                        {
                            <p>@Html.DisplayFor(model => item.WinUserName)</p>
                        }
                        else
                        {
                            <input type="button" title="Play Now" value="Play Now" class="btn btn-success" onclick="location.href='@Url.Action("Play", "Game", item.Id)'" />
                        }
                    </th>
                </tr>
            }

        </table>
    </div>
