@model IEnumerable<RandomNumbersSolution.Domain.Entities.Match>
@{
    ViewBag.Title = "Game Page";
}

<div class="jumbotron">
    <h1>Mathes</h1>
    <table class="table">
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.Items)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Expiration)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.WinUserName)</p>
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @foreach (var matchItem in item.Items)
                {
                    <div>
                        <p>User: @Html.DisplayFor(modelItem => matchItem.UserName)</p>
                        <p>Number: @Html.DisplayFor(modelItem => matchItem.Number)</p>
                    </div>
                   
                }
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Expiration)</p>
            </td>
            <th>
                <p>@Html.DisplayFor(model => item.WinUserName)</p>
            </th>
        </tr>
        }

    </table>
</div>
